/* ✏️ Normalize */
* {
  box-sizing: border-box;
}

html {
  background: var(--bg-color);
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}

*:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--blue);
}

img,
iframe {
  max-width: 100%;
  height: auto;
}

pre,
code {
  font-family: monospace;
}


@view-transition {
  navigation: auto;
}
