/* 🔤 Typography */
html, body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.3;
  font-size: 18px;
}

a {
  color: var(--pink);
}

::selection {
  background-color: var(--blue);
}

h1 {
  font-size: 2.2rem;
  margin: 3rem 0 1rem;
}

h2 {
  font-size: 1.77rem;
  font-weight: 700;
  margin: 3rem 0 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

p {
  margin: .2rem 0 .8rem;
}

.section {
  a {
    color: var(--section-color);
  }

  *:focus {
    box-shadow: 0 0 0 0.2rem var(--section-contrast);
  }

  ::selection {
    background-color: var(--section-contrast);
  }
}
