---
import IndexLayout from "../../layouts/IndexLayout.astro";
import Blog from "../../components/Blog.astro";
---

<IndexLayout>
    <section id="blog" class="section blog">
        <h2>Blog</h2>
        <Blog />
    </section>
</IndexLayout>
