@import "abstract/vars";
@import "abstract/colors";
@import "abstract/normalize";
@import "abstract/typography";
@import "abstract/layout";
@import "components/header";
@import "components/footer";

section {
  margin-bottom: $section-margin;

  h2 {
    color: var(--section-color);
  }
}

/* 👨🏻 About Me */

.about-me {
  margin-top: $section-margin;

  h2 {
    margin-top: 0.6rem;
  }
}

.about-me-links {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}

.social-links {
  svg {
    height: 1rem;
    width: auto;
    margin-left: 1ch;
  }
}

/* 📄 Blog */
.blog-articles {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    border-left: 4px solid var(--section-color);
    margin-left: 3px;
    width: calc(100% - 3px);
    padding-left: 10px;
    margin-bottom: 28px;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .article-meta {
    margin-top: 14px;
    font-size: 0.89rem;
    color: var(--text-color-soft);
  }
}

.blog-more {
  display: block;
  text-align: center;
}

/* 💬 Talks */
.talks-years {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    display: flex;
    align-items: flex-start;
  }

  h3 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: var(--section-color);
    letter-spacing: 0.3ch;
    margin-right: 3px;
    font-size: 1.1rem;
  }
}

.talks-list {
  border-left: 3px solid var(--section-color);
  padding: 0 0 3rem 17px;
  position: relative;

  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  li {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.talks-years li:last-child .talks-list {
  padding-bottom: 0;
}

.talk-meta {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 0.89rem;
  color: var(--text-color-soft);
}

.talk-title {
  margin: 0;
}

/* 📚 Courses */
.courses-list {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    margin-bottom: 2rem;
  }

  a {
    color: inherit;
    text-decoration: none;
    display: block;
  }
}

.course-item {
  display: flex;
  margin-top: -4px;
  padding-left: 3px;
}

.course-logo {
  flex-shrink: 0;
  flex-grow: 0;
  height: 90px;
  width: 90px;
  border: 1px solid var(--section-color);
  stroke: var(--section-color);
  margin-right: 1rem;
  margin-top: 4px;
  display: grid;

  svg {
    margin: auto;
  }
}

.course-info h3 {
  margin: 0 0 0.5rem;
}

.course-meta {
  margin: 0;
  font-size: 0.89rem;
  color: var(--text-color-soft);
}

.course-cta {
  color: var(--section-color);
  text-decoration: underline;
}

/* ✉️ Contact */
.contact-text {
  font-size: 0.89rem;
}

.contact {
  .form-group {
    position: relative;
    padding-top: 0.5rem;
    margin-bottom: 1.4rem;
  }

  label {
    color: var(--section-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.7rem;
    display: block;
    margin-bottom: 0.3em;
  }

  input[type="text"],
  input[type="email"],
  textarea,
  .grow-wrap {
    display: block;
    background: transparent;
    border: 1px solid var(--pink);
    width: 100%;
    color: var(--text-color);
    font-size: 0.89rem;
    padding: 0.5rem;
    min-height: 1.55rem;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: var(--text-color);
      box-shadow: 0 0 0 1000px var(--bg-color) inset;
      font-size: 0.89rem;
    }

    &:-webkit-autofill:focus {
      box-shadow: 0 0 0 0.2rem var(--blue),
      0 0 0 1000px var(--bg-color) inset;
    }

    &:focus {
      border-bottom: transparent;
    }

    &::placeholder {
      color: var(--text-color-soft);
    }
  }

  textarea,
  .grow-wrap {
    resize: none;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
    transition: 0.2s;
    line-height: 1.7;
  }

  .grow-wrap {
    display: grid;
    border: 0;
    overflow: visible;
    padding: 0;
  }

  .grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
    padding-bottom: 1rem;
  }

  .grow-wrap > textarea,
  .grow-wrap::after {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.submit-button {
  appearance: none;
  background: transparent;
  font-weight: 400;
  font-size: 0.89rem;
  text-transform: uppercase;
  color: var(--section-color);
  border: 1px solid var(--section-color);
  width: auto;
  padding: 0.6rem 1.2rem;
  line-height: 1;
  cursor: pointer;

  &:focus {
    border-color: transparent;
  }
}

.g-recaptcha {
  position: relative;
  overflow: hidden;
  height: 74px;
  width: 298px;
  border: 1px solid var(--section-color);
  border-radius: 3px;
  transform: scale(0.75);
  transform-origin: 0;
  margin: 0.9rem 0;

  @media all and (width >= 360px) {
    transform: none;
    margin: 1.7rem 0;
  }

  iframe {
    position: absolute;
    left: -1px;
    top: -1px;
  }
}

.loading {
  background: repeating-linear-gradient(
      -55deg,
      var(--bg-color),
      var(--bg-color) 10px,
      var(--bg-color-soft) 10px,
      var(--bg-color-soft) 20px
  );
  background-size: 49px;
  animation: loading-animation 2s linear infinite;

  @keyframes loading-animation {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 49px 0;
    }
  }
}

.message-holder.success,
.message-holder.error {
  margin-top: 0.7rem;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-left-width: 4px;
}

.message-holder.success {
  border-color: var(--green);
}

.message-holder.error {
  border-color: var(--yellow);
}
