@import 'abstract/vars';
@import 'abstract/colors';
@import 'abstract/normalize';
@import 'abstract/typography';
@import 'abstract/layout';
@import 'components/header';
@import 'components/footer';
@import 'lib/hljs-monokai';


.article-meta {
  margin: 1rem 0;
  font-size: .89rem;
  color: var(--text-color-soft);

  svg {
    height: .75em;
  }
}

.featured-image-container {
  margin: 1.5rem auto 2rem;
  position: relative;
  overflow: hidden;
  opacity: .9;

  .featured-image-bg {
    $blur: 30px;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: $blur * -1;
    left: $blur * -1;
    width: calc(100% + #{$blur*2});
    height: calc(100% + #{$blur*2});
    filter: blur($blur);
    opacity: .8;
  }

  img {
    z-index: 1;
    display: block;
    margin: 0 auto;
    position: relative;
    width: var(--extra-width);
  }
}


/* ✏️ Post Content */
.post-content {
  font-size: 1.05em;
  line-height: 1.8;
  word-break: break-word;

  img {
    opacity: .9;
  }

  ul {
    list-style-type: disc;
    margin: 1rem 0;
    padding: 0 0 0 2.2rem;
  }

  li {
    margin-bottom: 1em;
  }

  h2, h3 {
    line-height: 1.2;
  }

  h3 {
    margin: 2em 0 1em;
    font-size: 1.3em;
  }

  blockquote {
    border-left: 4px solid var(--section-color);
    margin: 2rem 2rem 2rem 1.3rem;
    padding: .1rem 0 .2rem .9rem;
  }

  hr {
    border-color: var(--text-color-softer);
    margin: 3rem 0;
  }

  figcaption {
    font-size: .8em;
    line-height: 1.4;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid var(--section-color);
    margin: 2rem 0;

    a {
      color: inherit;
    }

    td {
      border: 0;
      padding: .3rem;
    }

    tr:nth-child(even) {
      background: var(--bg-color-soft);
    }

    tfoot td {
      border-top: 2px solid var(--section-color);
      border-bottom: 2px solid var(--section-color);
    }
  }

  code:not(.hljs) {
    background-color: var(--bg-color-soft);
    font-size: .95em;
    color: var(--section-color);
    padding: 5px;
    border-radius: 5px;
  }

  pre {
    border: 1px solid var(--text-color-softer);
    font-size: .88rem;
    margin: 2rem 0;

    @media all and (min-width: 750px) {
      margin: 2rem -1.5rem;
    }

    code.shcb-line-numbers {
      counter-reset: line-number;
      padding: 0 1em 0 0;

      .shcb-loc {
        display: block;
        counter-increment: line-number;

        &::before {
          content: counter(line-number);
          width: 3ch;
          display: inline-block;
          padding: 0 .5em 0 .5em;
          text-align: right;
          margin: 0 1ch 0 0;
          background-color: var(--bg-color-soft);
          color: var(--text-color-soft);
        }

        &:first-child::before {
          padding-top: .5em;
        }

        &:last-child::before {
          padding-bottom: .5em;
        }
      }
    }
  }
}


/* WP Classes */
.has-text-align-right {
  text-align: right;
}


/* 🏞 Image alignment */
figure {
  margin: 0;
}
.alignleft, .alignright {
  max-width: 50%;
  margin: .5em 0;
}
.alignleft {
  float: left;
  margin-right: 1.5em;
}

.alignright {
  float: right;
  margin-left: 1.5em;
}



/* Embeds */
.wp-block-embed {
  @media all and (min-width: 750px) {
    margin: 1rem -1.5rem;
  }
}

.wp-has-aspect-ratio {
  position: relative;

  .wp-block-embed__wrapper, //stylelint-disable-line
  iframe {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.wp-embed-aspect-16-9 {
  aspect-ratio: 16/9;
}


/* 📙 Gutenberg */
.shcb-language {
  display: block;
  font-size: .7em;
  padding: .3em 1em;
  color: var(--text-color-soft);
  background-color: var(--bg-color-soft);
  border-top: 1px solid var(--text-color-softer);
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.has-background {
  padding: 1rem;
  margin: 1.7rem 0;
  font-size: 1.1em;
  line-height: 1.4;

  @media all and (min-width: 750px) {
    margin: 2rem -1.5rem;
  }
}
.has-yellow-background-color {
  background-color: var(--yellow);
  color: var(--bg-color);
}
