---
import InlineSvg from "../InlineSvg.astro";
---

<section id="about-me" class="section about-me">
    <InlineSvg svg="avatar" aria-label="Avatar of Fernando Paredes" />
    <h2>Hi There!</h2>
    <p>
        I’m a Senior Software Engineer who has been building and maintaining websites for longer than I want to admit.
        On this blog I cover topics about PHP, JS, WordPress, Agile and a few other things!
    </p>
    <div class="about-me-links">
        <div class="social-links">
            <a href="https://twitter.com/ferparmur" title="Follow me on Twitter" target="_blank" rel="noopener">
                <InlineSvg svg="twitter" aria-label="Twitter" />
            </a>
            <a href="https://github.com/ferparmur" title="Chek my repos on Github" target="_blank" rel="noopener">
                <InlineSvg svg="github" aria-label="Github" />
            </a>
            <a
                href="https://www.linkedin.com/in/fernandoparedes/"
                title="Connect with me on Linkedin"
                target="_blank"
                rel="noopener"
            >
                <InlineSvg svg="linkedin" aria-label="Linkedin" />
            </a>
            <a href="https://unsplash.com/@ferparmur" title="See my photos on Unsplash" target="_blank" rel="noopener">
                <InlineSvg svg="unsplash" aria-label="Unsplash" />
            </a>
        </div>
    </div>
</section>
