<section id="contact" class="section contact">
    <h2>Contact</h2>
    <p>
        If you want to send me a message, feel free to drop me a message on Twitter (<a href="#">@f_paredesmur</a>) or
        Linkedin (<a href="#">fernandoparedes</a>).
    </p>
</section>
