---
import { getCollection } from "astro:content";
import PostListing from "../PostListing.astro";

import type { CollectionEntry } from "astro:content";
type BlogPost = CollectionEntry<"blog">;

const allPosts = await getCollection("blog");
allPosts.sort((post1, post2) => post2.data.pubDate.getTime() - post1.data.pubDate.getTime());
---

<section id="blog" class="section blog">
    <h2>Blog</h2>
    <ul class="blog-articles">
        {
            allPosts.map((post: BlogPost) => (
                <PostListing
                    url={`/blog/${post.slug}/`}
                    title={post.data.title}
                    pubDate={post.data.pubDate}
                    tags={post.data.tags}
                />
            ))
        }
    </ul>

    <a class="blog-more" href="/blog">More Blog Posts</a>
</section>
