<footer class="site-footer">
    <div class="container">
        <p class="copyright-notice">©2024 Fernando Paredes</p>
        <div class="social-links">
            <a href="https://twitter.com/ferparmur" title="Follow me on Twitter" target="_blank" rel="noopener"><img
                    src="img/twitter.svg"
                    width="18"
                    height="18"
                    data-inline-svg/></a>
            <a href="https://github.com/ferparmur"
               title="Chek my repos on Github"
               target="_blank"
               rel="noopener"><img src="img/github.svg" width="18" height="18" data-inline-svg/></a>
            <a href="https://www.linkedin.com/in/fernando-paredes-murillo/"
               title="Connect with me on Linkedin"
               target="_blank"
               rel="noopener"><img src="img/linkedin.svg" width="18" height="18" data-inline-svg/></a>
            <a href="https://unsplash.com/@ferparmur"
               title="See my photos on Unsplash"
               target="_blank"
               rel="noopener"><img src="img/unsplash.svg" width="18" height="18" data-inline-svg/></a>
        </div>
        <p class="extra-credit">Avatar © 2024 by <a href="https://gatomarino.com/" target="_blank" rel="noopener">Cris
            Martín</a></p>
        <a class="back-to-top" href="#">Back to top</a>
    </div>
</footer>
