---
import twitterLogo from "../svg/twitter.svg";
import InlineSvg from "./InlineSvg.astro";
---

<footer class="site-footer container">
    <p class="copyright-notice">
        © {new Date().getFullYear()} Fernando Paredes
    </p>
    <div class="social-links">
        <a
            href="https://twitter.com/ferparmur"
            title="Follow me on Twitter"
            target="_blank"
            rel="noopener"
        >
            <InlineSvg svg="twitter" aria-label="Twitter" />
        </a>
        <a
            href="https://github.com/ferparmur"
            title="Chek my repos on Github"
            target="_blank"
            rel="noopener"
        >
            <InlineSvg svg="github" aria-label="Github" />
        </a>
        <a
            href="https://www.linkedin.com/in/fernando-paredes-murillo/"
            title="Connect with me on Linkedin"
            target="_blank"
            rel="noopener"
        >
            <InlineSvg svg="linkedin" aria-label="Linkedin" />
        </a>
        <a
            href="https://unsplash.com/@ferparmur"
            title="See my photos on Unsplash"
            target="_blank"
            rel="noopener"
        >
            <InlineSvg svg="unsplash" aria-label="Unsplash" />
        </a>
    </div>
    <p class="extra-credit">
        Avatar © 2021 by <a
            href="https://gatomarino.com/"
            target="_blank"
            rel="noopener">Cris Martín</a
        >
    </p>
    <a class="back-to-top" href="#">Back to top</a>
</footer>
