<header class="site-header">
    <h1 class="site-title">
        Fernando Paredes
        <span>Web Developer</span>
    </h1>

    <nav class="main-nav">
        <ul>
            <li class="blog"><a href="/#blog">Blog</a></li>
            <li class="talks"><a href="/#talks">Talks</a></li>
            <li class="contact"><a href="/#contact">Contact</a></li>
        </ul>
    </nav>
</header>
