---
import dateFormat from "dateformat";
const { url, title, pubDate, tags } = Astro.props;
---

<li>
    <a href={url}>
        <article>
            <h3>{title}</h3>
            <p class="article-meta">
                <time datetime={dateFormat(pubDate, "yyyy-mm-dd")}>{dateFormat(pubDate, "d mmmm yyyy")}</time>
                / {tags?.map((tag: string): string => `#${tag}`)}
            </p>
        </article>
    </a>
</li>
