---
import "../styles/home.scss";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <Head />

        <title>Fernando Paredes - Web Developer</title>
    </head>
    <body>
        <Header />

        <main class="container">
            <slot />
        </main>

        <Footer />
    </body>
</html>
