---
import '../styles/post.scss'
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
<head>
    <Head/>
    <title>Fernando Paredes - Web Developer</title>
</head>
<body>
<div class="container">
    <Header/>

    <main>
        <slot/>
    </main>

    <Footer/>

</div>
</body>
</html>
