---
import dateFormat from 'dateformat';
import readingTime from 'reading-time';

import '../styles/post.scss'
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const {title, pubDate, tags} = Astro.props.frontmatter;

const minutes = Math.max(Math.round(readingTime(await Astro.props.rawContent()).minutes), 1);
---

<!doctype html>
<html lang="en">
<head>
    <Head/>
    <title>Fernando Paredes - Web Developer</title>
</head>
<body>
<div class="container">
    <Header/>

    <main>
        <article>
            <div class="container">
                <h1>{title}</h1>

                <p class="article-meta">
                    <time datetime={dateFormat(pubDate, 'yyyy-mm-dd')}>{dateFormat(pubDate, 'd mmmm yyyy')}</time>
                    / {tags?.map((tag) => `#${tag}`)}
                    {/* TODO: inline SVG */}
                    / <img src="img/stopwatch.svg" aria-label="Reading Time" width="16" height="16"/> {minutes}
                    minute{minutes > 1 ? 's' : ''}
                </p>
            </div>
            <div class="container post-content">
                <slot/>
            </div>
        </article>

    </main>

    <Footer/>

</div>
</body>
</html>
