---
import dateFormat from 'dateformat';
import '../styles/post.scss'
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const {title, pubDate, tags} = Astro.props.frontmatter;
---

<!doctype html>
<html lang="en">
<head>
    <Head/>
    <title>Fernando Paredes - Web Developer</title>
</head>
<body>
<div class="container">
    <Header/>

    <main>
        <article>
            <div class="container">
                <h1>{title}</h1>

                <p class="article-meta">
                    <time datetime={dateFormat(pubDate, 'yyyy-mm-dd')}>{dateFormat(pubDate, 'd mmmm yyyy')}</time>
                    / {tags?.map((tag) => `#${tag}`)}
                </p>
            </div>
            <div class="container post-content">
                <slot/>
            </div>
        </article>

    </main>

    <Footer/>

</div>
</body>
</html>
