---
import dateFormat from 'dateformat';
import readingTime from 'reading-time';
import { Picture } from 'astro:assets';

import '../styles/post.scss'
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const {title, pubDate, tags} = Astro.props;

//const minutes = Math.max(Math.round(readingTime(await Astro.props.rawContent()).minutes), 1);
const minutes = 2;
---

<!doctype html>
<html lang="en">
<head>
    <Head/>
    <title>Fernando Paredes - Web Developer</title>
</head>
<body>

    <Header/>

    <main>
        <article>
            <div class="container">
                <h1>{title}</h1>

                <p class="article-meta">
                    <time datetime={dateFormat(pubDate, 'yyyy-mm-dd')}>{dateFormat(pubDate, 'd mmmm yyyy')}</time>
                    / {tags?.map((tag: string): string => `#${tag}`)}
                    {/* TODO: inline SVG */}
                    / <img src="img/stopwatch.svg" aria-label="Reading Time" width="16" height="16"/> {minutes}
                    minute{minutes > 1 ? 's' : ''}
                </p>
            </div>

            <div class="featured-image-container">
                <div class="featured-image-bg" style="background:greenyellow"></div>
                <!--<Picture-->
                <!--        src={} alt="Fernando Paredes"-->
                <!--        loading="eager"-->
                <!--        widths={[280, 360, 390, 700, 768, 900]}-->
                <!--        sizes="(max-width:280px) 260px,(max-width:360px) 360px,(max-width:390px) 360px,(max-width:700px) 700px,(max-width:768px) 768px,900px"-->
                <!--        formats={['avif', 'webp']}-->
                <!--/>-->
            </div>

            <div class="container post-content">
                <slot/>
            </div>
        </article>

    </main>

    <Footer/>

</div>
</body>
</html>
